.ab-fixed-top {
    padding-top: 4rem;
}

.ab-holygrail-layout {

    height               : 100vh;
    display              : grid;
    grid-template-columns: 1fr;
    grid-template-rows   : auto 1fr;
    grid-template-areas  :
        "header"
        "main";
}

header {
    grid-area: header;
}

main {
    grid-area            : main;
    overflow             : auto;
    display              : grid;
    grid-template-columns: 1fr;
    grid-template-rows   : 1fr auto;
    grid-template-areas  :
        "content"
        "footer";
}

.content {
    grid-area: content;
}

footer {
    grid-area: footer;
}

.text-pink {
    color: $pink;
}

.scale-2x {
    transform: scale(2);
}
